@{
    //ViewData["Title"] = "Home Page";
    Html.SetSeoInfo(seoInfo =>
    {
        seoInfo.SetCommonInfo(
            pageTitle: "SEO Tags for ASP.NET Core",
            description: "Create all SEO tags you need such as meta, link, twitter card (twitter:), open graph (og:), and ...",
            url: "https://site.com/url/",
            keywordTags: new[] { "SEO", "AspNetCore", "MVC", "RazorPages" },
            seeAlsoUrls: new[] { "https://site.com/see-also-1", "https://site.com/see-also-2" })
        .SetImageInfo(
            url: "https://site.com/uploads/image.jpg",
            width: 1280,
            height: 720,
            alt: "Image alt",
            //mimeType: "image/jpeg", //optional: detect from url file extension
            cardType: SeoTags.TwitterCardType.SummaryLargeImage)
        .SetArticleInfo(
            authorName: "Author Name",
            publishDate: DateTimeOffset.Parse("2024-08-17T22:00+00:00"),
            modifiedDate: DateTimeOffset.Parse("2024-08-17T23:00+00:00"),
            authorTwitterId: "@MyTwitterId",
            authorFacebookId: "https://facebook.com/MyUserId",
            authorUrl: "https://github.com/author-profile",
            section: "SEO")
        .AddFeed("Post Comments", "https://site.com/post/comment/rss", SeoTags.FeedType.Rss);
    });
}

<div>
    <h1>@Html.GetPageTitle()</h1>
    <p>
        <a href="https://github.com/mjebrahimi/SeoTags">SeoTags</a> create all SEO tags you need such as meta, link, twitter card (twitter:), open graph (og:), and JSON-LD schema (structred data)..
    </p>
</div>