@{
    //ViewData["Title"] = "Home Page";
    Html.SetSeoInfo(seoInfo =>
    {
        seoInfo.SetCommonInfo(
            pageTitle: "SEO Tags for ASP.NET Core",
            description: "Create all SEO tags you need such as meta, link, twitter card (twitter:), open graph (og:), and ...",
            url: "https://site.com/url/",
            keywordTags: new[] { "SEO", "AspNetCore", "MVC", "RazorPages" },
            seeAlsoUrls: new[] { "https://site.com/see-also-1", "https://site.com/see-also-2" });

        seoInfo.SetImageInfo(
            url: "https://site.com/uploads/image.jpg",
            width: 1280,
            height: 720,
            alt: "Image alt",
            //mimeType: "image/jpeg", //optional: detect from url file extension
            cardType: SeoTags.TwitterCardType.SummaryLargeImage);

        seoInfo.SetArticleInfo(
            authorName: "Author Name",
            publishDate: DateTimeOffset.Now,
            modifiedDate: DateTimeOffset.Now,
            authorTwitterId: "@MyTwitterId",
            authorFacebookId: "https://facebook.com/MyUserId",
            authorUrl: "https://github.com/author-profile",
            section: "SEO");

        seoInfo.AddFeed("Post Comments", "https://site.com/post/comment/rss", SeoTags.FeedType.Rss);
    });
}

<div>
    <h1>SeoTags</h1>
    <p>
        <a href="https://github.com/mjebrahimi/SeoTags">SeoTags</a> create all SEO tags you need such as meta, link, twitter card (twitter:), open graph (og:), and JSON-LD schema (structred data)..
    </p>
</div>

<h4>Usage Code:</h4>
<pre>
<code class="language-cs">//ViewData["Title"] = "Home Page";
Html.SetSeoInfo(seoInfo =>
{
    seoInfo.SetCommonInfo(
        pageTitle: "SEO Tags for ASP.NET Core",
        description: "Create all SEO tags you need such as meta, link, twitter card (twitter:), open graph (og:), and ...",
        url: "https://site.com/url/",
        keywordTags: new[] { "SEO", "AspNetCore", "MVC", "RazorPages" },
        seeAlsoUrls: new[] { "https://site.com/see-also-1", "https://site.com/see-also-2" });

    seoInfo.SetImageInfo(
        url: "https://site.com/uploads/image.jpg",
        width: 1280,
        height: 720,
        alt: "Image alt",
        //mimeType: "image/jpeg", //optional: detect from url file extension
        cardType: SeoTags.TwitterCardType.SummaryLargeImage);

    seoInfo.SetArticleInfo(
        authorName: "Author Name",
        publishDate: DateTimeOffset.Now,
        modifiedDate: DateTimeOffset.Now,
        authorTwitterId: "@@MyTwitterId",
        authorFacebookId: "https://facebook.com/MyUserId",
        authorUrl: "https://github.com/author-profile",
        section: "SEO");

    seoInfo.AddFeed("Post Comments", "https://site.com/post/comment/rss", SeoTags.FeedType.Rss);
});</code>
</pre>

<h4>Rendred Output:</h4>
<pre><code class="language-html">&lt;meta charset="utf-8" /&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8" /&gt;
&lt;meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" /&gt;
&lt;meta name="viewport" content="width=device-width, initial-scale=1" /&gt;

&lt;link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin /&gt;
&lt;link rel="preconnect" href="https://www.google-analytics.com" crossorigin /&gt;
&lt;link rel="dns-prefetch" href="https://fonts.gstatic.com/" /&gt;
&lt;link rel="dns-prefetch" href="https://www.google-analytics.com" /&gt;
&lt;link rel="preload" as="style" href="https://site.com/site.css" /&gt;
&lt;link rel="preload" as="script" href="https://site.com/app.js" /&gt;
&lt;link rel="preload" as="font" type="font/woff2" href="https://site.com/fonts/Font.woff2" crossorigin /&gt;
&lt;link rel="preload" as="font" type="font/woff2" href="https://site.com/fonts/Font_Light.woff2" crossorigin /&gt;
&lt;link rel="preload" as="font" type="font/woff2" href="https://site.com/fonts/Font_Medium.woff2" crossorigin /&gt;
&lt;link rel="preload" as="font" type="font/woff2" href="https://site.com/fonts/Font_Bold.woff2" crossorigin /&gt;
&lt;link rel="preload" as="image" type="image/jpeg" href="https://site.com/uploads/image.jpg" /&gt;

&lt;title&gt;SEO Tags for ASP.NET Core - My Site Title&lt;/title&gt;
&lt;meta name="title" content="SEO Tags for ASP.NET Core - My Site Title" /&gt;
&lt;meta name="description" content="Create all SEO tags you need such as meta, link, twitter card (twitter:), open graph (og:), and ..." /&gt;
&lt;meta name="keywords" content="SEO, AspNetCore, MVC, RazorPages" /&gt;
&lt;meta name="author" content="Author Name" /&gt;
&lt;link rel="author" href="https://github.com/author-profile" /&gt;
&lt;link rel="canonical" href="https://site.com/url/" /&gt;
&lt;link rel="application/opensearchdescription+xml" title="My Site Title" href="https://site.com/open-search.xml" /&gt;
&lt;link rel="alternate" type="application/rss+xml" title="Post Feeds" href="https://site.com/rss/" /&gt;
&lt;link rel="alternate" type="application/rss+xml" title="Post Comments" href="https://site.com/post/comment/rss" /&gt;
&lt;meta name="robots" content="index, follow" /&gt;

&lt;meta name="twitter:card" content="summary_large_image" /&gt;
&lt;meta name="twitter:title" content="SEO Tags for ASP.NET Core" /&gt;
&lt;meta name="twitter:description" content="Create all SEO tags you need such as meta, link, twitter card (twitter:), open graph (og:), and ..." /&gt;
&lt;meta name="twitter:site" content="@@MySiteTwitter" /&gt;
&lt;meta name="twitter:creator" content="@@MyTwitterId" /&gt;
&lt;meta name="twitter:image" content="https://site.com/uploads/image.jpg" /&gt;
&lt;meta name="twitter:image:width" content="1280" /&gt;
&lt;meta name="twitter:image:height" content="720" /&gt;
&lt;meta name="twitter:image:alt" content="Image alt" /&gt;

&lt;meta property="og:type" content="article" /&gt;
&lt;meta property="og:title" content="SEO Tags for ASP.NET Core" /&gt;
&lt;meta property="og:description" content="Create all SEO tags you need such as meta, link, twitter card (twitter:), open graph (og:), and ..." /&gt;
&lt;meta property="og:url" content="https://site.com/url/" /&gt;
&lt;meta property="og:site_name" content="My Site Title" /&gt;
&lt;meta property="og:locale" content="en_US" /&gt;
&lt;meta property="og:image" content="https://site.com/uploads/image.jpg" /&gt;
&lt;meta property="og:image:secure_url" content="https://site.com/uploads/image.jpg" /&gt;
&lt;meta property="og:image:type" content="image/jpeg" /&gt;
&lt;meta property="og:image:width" content="1280" /&gt;
&lt;meta property="og:image:height" content="720" /&gt;
&lt;meta property="og:image:alt" content="Image alt" /&gt;
&lt;meta property="article:publisher" content="https://facebook.com/MySite" /&gt;
&lt;meta property="article:author" content="https://facebook.com/MyUserId" /&gt;
&lt;meta property="article:published_time" content="2021-07-24T05:03:22+00:00" /&gt;
&lt;meta property="article:modified_time" content="2021-07-24T05:03:22+00:00" /&gt;
&lt;meta property="article:section" content="SEO" /&gt;
&lt;meta property="article:tag" content="SEO" /&gt;
&lt;meta property="article:tag" content="AspNetCore" /&gt;
&lt;meta property="article:tag" content="MVC" /&gt;
&lt;meta property="article:tag" content="RazorPages" /&gt;
&lt;meta property="og:see_also" content="https://site.com/see-also-1" /&gt;
&lt;meta property="og:see_also" content="https://site.com/see-also-2" /&gt;</code></pre>